<div class='row' *ngIf='person'>
  <div class='col-md-12'>
    <form #f ="ngForm" (ngSubmit)='save(f.value)'>
      <div class='form-group'>
        <label for='Name'>Name</label>
        <input #Name="ngModel"
               [(ngModel)]='person.name'
               type='text'
               name='Name'
               id='Name'
               class='form-control'
               required
        >
        <div class='alert alert-danger' *ngIf='Name.touched && Name.invalid'>
          Name is required
        </div>
      </div>
      <div class='form-group' style='display:none'>
        <label for='Name'>id</label>
        <input #id="ngModel"
               [(ngModel)]='person.id'
               type='text'
               name='id'
               id='id'
               class='form-control'
        >
      </div>
      <div class='form-group'>
        <label for='lastName'>last Name</label>
        <input #lastName="ngModel"
               [(ngModel)]='person.lastName'
               type='text'
               name='lastName'
               id='lastName'
               class='form-control'
               required
        >
        <div class='alert alert-danger' *ngIf='lastName.touched && lastName.invalid'>
          LastName is required
        </div>
      </div>
      <div class='form-group'>
        <label for='realName'>realName</label>
        <input #realName="ngModel"
               [(ngModel)]='person.realName'
               type='text'
               name='realName'
               id='realName'
               class='form-control'
               required
        >
        <div class='alert alert-danger' *ngIf='realName.touched && realName.invalid'>
          realName is required
        </div>
      </div>
      <div class='form-group'>
        <label for='profession'>profession</label>
        <input #profession ="ngModel"
               [(ngModel)] ='person.profession'
               type='text'
               name='profession'
               id='profession'
               class='form-control'
               required
        >
        <div class='alert alert-danger' *ngIf='profession.touched && profession.invalid'>
          profession is required
        </div>
      </div>
      <div class='form-group'>
        <label for='bio'>profession</label>
        <textarea
               #bio = "ngModel"
               [(ngModel)]='person.bio'
               name='biography'
               id='bio'
               class='form-control'
               required
        ></textarea>
        <div class='alert alert-danger' *ngIf='bio.touched && bio.invalid'>
          profession is required
        </div>
      </div>
      <div class='form-group'>
        <label for='url'>Wikipedia Link</label>
        <input #url ="ngModel"
               [(ngModel)]='person.url'
               type='text'
               name='url'
               id='url'
               class='form-control'
               required
        >
        <div class='alert alert-danger' *ngIf='url.touched && url.invalid' >
          wikipedia link is required
        </div>
      </div>
      <div class='form-group'>
        <label for='imageUri'>image Uri</label>
        <input #imageUri = "ngModel"
               [(ngModel)]='person.imageUri'
               type='text'
               name='imageUri'
               id='imageUri'
               class='form-control'
               required
        >
        <div class='alert alert-danger' *ngIf='imageUri.touched && imageUri.invalid'>
          imagelink is required
        </div>
      </div>
      <button [disabled]="!f.valid" class="btn btn-primary">Save</button>
    </form>
  </div>
</div>
