<h1>{{ title }}</h1>
<div class='language-switcher'>
  <h3>{{ 'Change language' | translate:lang }}</h3>

  <button (click)="selectLanguage('en');">English</button>
  <button (click)="selectLanguage('nl');">Nederlands</button>

</div>
<div class='container'>
  <router-outlet></router-outlet>
</div>
