/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html{

}

body{
  padding:20px;
  Background-color: #000000;
}

a{
  cursor: pointer;
}
h1{
  display: block;
  width:100%;
  padding-bottom: 20px;
  color: #ffffff;
  text-align: center;
}
.container{
  width:100%;
  max-width:600px;
  margin:0 auto;
  display: block;
}

