<div class="card" style="width: 60rem;" *ngIf='person'>
  <img
       src="{{ 'https://appfoundry-restdemo.herokuapp.com/' + person.imageUri}}"
       [alt]='person.name'
       [title]='person.name'
  >
  <div class="card-body">
    <h2 class='card-title'>{{person.name + ' ' + person.lastName}}</h2>
    <p class="card-text">{{person.bio}}</p>
    <a routerLink='/' class="btn btn-primary">Back to overview</a>
    <a routerLink="{{'/add/' + person.id }}" class="btn btn-info">edit info</a>
  </div>
</div>
