img{
  width:100%;
  height:auto;
  display: inline-block;
  max-width:320px;
}

.card{
  color: #393939;
  background-color: #ffffff;
  text-align: center;
  padding:20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
