a{
  display: block;
  width:88%;
}
ul{
  max-width:600px;
  margin:0 auto;
}
li{
  background-color:#fff;
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -ms-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  position: relative;
}
li:nth-of-type(even){
  background-color: #eef8ff;
}
li:hover{
  background-color: #efefef;
}
img{
  width:80px;
  height:auto;
  display: inline-block;
  vertical-align: top;
  margin-right:15px;
}
.info{
  display: inline-block;
  vertical-align: top;
}
.delete{

  position: absolute;
  top:50%;
  right:15px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
