<ul class="list-group">
  <li *ngFor='let person of persons' class="list-group-item">
    <a [routerLink] = "['/',person.id]">
      <img src="{{'https://appfoundry-restdemo.herokuapp.com/' + person.imageUri}}"
           [alt]='person.name'
           [title]='person.name'
      >
      <div class='info'>
        <h2>{{person.name + ' ' + person.lastName}}</h2>
        <span class='profession'>{{person.profession}}</span>
      </div>
    </a>
    <div class='delete'>
      <button class='btn btn-danger' (click)='delete(person) '>Delete</button>
    </div>
  </li>
  <li class="list-group-item"><a [routerLink] = "['/add']" style='text-align: center;'><h2> + Add Actor</h2></a></li>
</ul>
